body {
    display:flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    color: white;
    background-image: url('table.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



header {
    text-align: center;
    width: 90%;
    padding: 1em;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.8);
}

    header hr {
        width: 90%;
    }

    .header-title {
        width: 100%;
    }

    .header-description {
        width: 100%;
    }

    .nav-bar {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

        .nav-item {
            padding: 0.75em;
            border-left: 1px solid gray;
            background: rgba(50, 50, 50, 1);
        }

            .nav-item:hover {
                background: rgba(100, 100, 100, 1);
            }

main {
    width: 90%;
    margin: 0 auto;

    background: rgba(0, 0, 0, 0.6);
}

    .dish-list {
        font-size: 1.5em;
        opacity: 1;
        margin: 0 auto;
        transition: 3s;
    }

    .fade {
        opacity: 0;
        transition: 3s;
    }

    .dish-container {
        width:90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

        .dish-image {
            align-self: center;
            transform: scale(1.25);
        }

        .dish-info {
            display: flex;
            flex-wrap:wrap;
            flex: 45%;
            text-align: center;
            padding: 1em;
        }

            .dish-header {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
            }

                .dish-title {
                    width: 85%;
                }

                .dish-price {
                    flex: 10%;
                    text-align: right;
                    font-weight: bold;
                    font-size: 1.2em;
                }

footer {
    width: 90%;
    text-align: center;
    padding: 1em 0;
}


@media screen and (max-width:780px) {


    .dish-image {
        transform: scale(1);
        padding: 0.5em 0 1em 0;
    }
    .dish-info {
        padding: 0 1em;        
        font-size: .75em;
    }

        .dish-title {
            margin: 0;
            padding-bottom: 0;
        }

        .dish-description {
            margin: 0 auto;

        }
    


}